<html>
    <head><title>NBN ACL Test</title></head>
    <body>
        <table>
            <tr><td><h3>Switch Bandwidth and CPU without ACLs</h3></td>
            <td><h3>Switch Bandwidth and CPU with ACLs</h3></td></tr>
            <tr>
                <td><img src="static/cpunoacl.png"></td>
                <td><img src="static/cpuacl.png"></td>
            </tr>
            <tr>
                <td>  <img src="static/bwnoacl.png"></td>
                <td><img src="static/bwacl.png"></td>
            </tr>
            <tr>
                <td>  <img src="static/noACL1.png"></td>
                <td>  <img src="static/WithACL.png"></td>
            </tr>
        
      
    </table>
    </body>
</html>