<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static',filename = 'bootstrap.min.css')}}" >
    {% endblock %}
</head>

<body>
    <header>{% block header %}
        <ul style="background-color: steelblue;" class="nav">
            <li  class="nav-item">
                <a style="color: white;" class="nav-link active" href="#">VC Common</a>
            </li>
            <li  class="nav-item">
                <a style="color: white;" class="nav-link active" href="#">Storage</a>
            </li>
            <li  class="nav-item">
                <a style="color: white;" class="nav-link active" href="#">Network</a>
            </li>
            <li  class="nav-item">
                <a style="color: white;" class="nav-link active" href="#">Rack</a>
            </li>

        </ul>
    {% endblock %}</header>
    
    {% block content %}{% endblock %}
    
</body>
</html>
