<html>
    <body>
        <img src="static/time_bw_benchmark.png">
        <img src="static/time_bw_badmtu.png">
        <img src="static/time_bw_swint10g.png">
        <img src="static/time_bw_VLAN_mismatch.png"><br>
        <img src="static/time_iops_benchmark.png">
        <img src="static/time_iops_badmtu.png">
        <img src="static/time_iops_swint10g.png">
        <img src="static/time_iops_VLAN_mismatch.png"><br>
        <img src="static/rebuild_rebalance_benchmark.png">
        <img src="static/rebuild_rebalance_badmtu.png">
        <img src="static/rebuild_rebalance_swint10g.png">
        <img src="static/rebuild_rebalance_VLAN_mismatch.png"><br>
        <img src="static/benchmark-switch.png">
        <img src="static/mtu-switch.png">
        <img src="static/swint10g-switch.png">
        <img src="static/VLAN_mismatch-switch.png">
    </body>
</html>